[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
uvicorn = "*"
pytest = "*"

[packages]
fastapi = "*"
pendulum = "*"
pymongo = "*"

[requires]
python_version = "3.6"
